node_modules
core/typings/*
core/config/*.js
sysop/sysop-serve/node_modules*
sysop/sysop-serve/typings/*
sysop/sysop-www/bower_components/*
sysop/sysop-www/typings/*
sysop/sysop-www/ngui/*
sysop/sysop-www/npm-debug.log
.vscode
.idea/*
_build/*
core/build/*
sysop-serve/build/*
sysop-www/build/*
sysop-www/bower_components/*
web-serve/build/*
web-serve/typings/*
web-www/bower_components/*
web-www/typings/*
web-www/build/*
