<div ngui-syspanel class="time-syspanel" data-title="sysop" data-menu-open="$ctrlMain.isOpen">
  <panel-header>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>      
      <li><a href="javascript:;" ng-click="$ctrlMain.toggleMenu()">
        <i class="fa fa-bars"></i> 
        </a></li>      
    </ul>
  </panel-header>
  <panel-menu>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      
      <li role="presentation"><a href="#">Messages</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </panel-menu>
  <panel-body>
    <button ng-click="">aaa</button>
    <p>asd fasd fasdf sdf</p>

    {{$ctrlMain}}
  </panel-body>
</div>